<form action="{{act}}" method="post">
    <input type="hidden" name="input_id" id="input_id" value="{{id}}"><br>
    <label for="nome">Produto</label><br>
    <input type="text" name="input_produto" id="input_produto" value="{{produto}}"><br>
    <label for="fornecedor">Fornecedor</label><br>
    <input type="text" name="input_fornecedor" id="input_fornecedor" value="{{fornecedor}}"><br>
    <label for="cor">Cor</label><br>
    <input type="text" name="input_cor" id="input_cor" value="{{cor}}"><br>
    <label for="tamanho">Tamanho</label><br>
    <input type="text" name="input_tamanho" id="input_tamanho" value="{{tamanho}}"><br>
    <label for="marca">Marca</label><br>
    <input type="text" name="input_marca" id="input_marca" value="{{marca}}"><br>
    <button>Salvar</button>
</form>
