* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(71, 46, 14);
    color: antiquewhite;
    padding: 20px;
}

div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(230, 220, 220, 0.651);
    color: brown;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrarModal {
    display: flex;
}

div form {
    width: fit-content;
    height: fit-content;
    border: 0.5px solid rgba(245, 221, 176);
    background-color: rgba(230, 220, 220);
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 50%;
    margin: auto;
}

td, th {
    padding: 5px;
    text-align: center;
}

a {
    color: bisque;
}