* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(71, 46, 14);
    height: 100vh;
    color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(230, 220, 220, 0.651);
    color: brown;
    display: block;
    justify-content: center;
    align-items: center;
}

main form {
    font-size: 1.2em;
    width: fit-content;
    height: fit-content;
    border: 0.5px solid rgba(245, 221, 176);
    background-color: rgba(230, 220, 220);
    padding: 20px;
}

input {
    padding: 1.9px;
}
